.editor {
  margin-top: 2em;
}

.level-box {
  display: flex;
  flex-direction: column;

  /*padding: 1em 0;*/
}

.level-box > * {
  padding: 0.5em 0;
}

.coords-editor {
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
}

.coords-group {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.coords-group:not(:first-child) {
  margin-left: 3em;
}

.coords-group-line {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.parrot-button {
  width: 50px;
  height: 50px;
  background-size: contain;
}

.squawks {
  background-image: url("./squawks.png");
}

.quawks {
  background-image: url("./quawks.png");
}

.koin-button {
  width: 50px;
  height: 50px;
  background-size: contain;
}

.stand {
  background-image: url("./koinyes.png");
}

.no-stand {
  background-image: url("./koinno.png");
}